In [2]:
### import packages

import pandas as pd

### import data

In [3]:
df_c_c = pd.read_csv("/Users/baselhussein/Projects/pps_isls_2022/lagseq/data/segmentData_spatial/df_changeless_college_vector.csv")
df_c_m = pd.read_csv("/Users/baselhussein/Projects/pps_isls_2022/lagseq/data/segmentData_spatial/df_changeless_middle_vector.csv")
df_f_c = pd.read_csv("/Users/baselhussein/Projects/pps_isls_2022/lagseq/data/segmentData_spatial/df_float_college_vector.csv")
df_f_m = pd.read_csv("/Users/baselhussein/Projects/pps_isls_2022/lagseq/data/segmentData_spatial/df_float_middle_vector.csv")

### COLLEGE - CHANGELESS

In [4]:
df_c_c

                               filename segment  location  split
0      College-BH.C.P01.S02.TL.09-FINAL    ND-1       0.00     b
1      College-BH.C.P01.S02.TL.09-FINAL    AR-1       0.25     b
2      College-BH.C.P01.S02.TL.09-FINAL    ND-1       0.50     b
3      College-BH.C.P01.S02.TL.09-FINAL    AR-1       0.75     e
4      College-BH.C.P01.S02.TL.09-FINAL      SR       1.00     e
..                                  ...     ...        ...   ...
112  College-RH.C.P02.S01.TL.09 - Final    ND-1       0.77     e
113  College-RH.C.P02.S01.TL.09 - Final  CE-2/3       0.85     e
114  College-RH.C.P02.S01.TL.09 - Final    AR-1       0.92     e
115  College-RH.C.P02.S01.TL.09 - Final      SR       1.00     e
116                             segment     NaN        NaN   NaN

[117 rows x 4 columns]

In [5]:
### drop NaN
df_c_c.dropna(inplace=True)

In [6]:
#df_c_c.head()

In [7]:
### add column for name + location 
#df_c_c['nameProgress'] = df_c_c['name'].str.cat(df_c_c['location'],sep=" -- ")

In [9]:
categories_moves_c_c = df_c_c['segment'].unique()

In [10]:
df_c_c_moves = pd.get_dummies(df_c_c.segment).reindex(columns=categories_moves_c_c, fill_value=0)

In [11]:
df_c_c_summary_moves = pd.concat([df_c_c, df_c_c_moves], axis=1)

In [12]:
df_c_c_begin = pd.DataFrame(df_c_c_summary_moves[df_c_c_summary_moves['split'].str.contains("b")])
df_c_c_end = pd.DataFrame(df_c_c_summary_moves[df_c_c_summary_moves['split'].str.contains("e")])
#df_c_c_middle = pd.DataFrame(df_c_c_summary_moves[df_c_c_summary_moves['location'].str.contains("m")])

In [13]:
byLocation_begin = df_c_c_begin.groupby('filename')
#byLocation_middle = df_c_c_middle.groupby('name')
byLocation_end = df_c_c_end.groupby('filename')

In [14]:
df_c_c_begin_sum = pd.DataFrame(byLocation_begin.sum())
#df_c_c_middle_sum = pd.DataFrame(byLocation_middle.sum())
df_c_c_end_sum = pd.DataFrame(byLocation_end.sum())

In [16]:
df_c_c_begin_sum

,location,ND-1,AR-1,SR,ND-2/3,CE-2/3,CE-1,AR-2/3
filename,,,,,,,,
College-BH.C.P01.S02.TL.09-FINAL,0.75,2,1,0,0,0,0,0
College-BH.C.P02.S02.TL.09-FINAL,2.00,3,2,0,2,1,0,0
College-BH.C.P03.S02.TL09 - FINAL,1.26,2,2,0,0,0,0,1
College-JV.C.P01.S02.TL.09 - FINAL,3.12,5,5,0,2,1,0,0
College-JV.C.P02.S03 - Final,0.60,1,1,0,1,0,0,0
College-JV.C.P03.S03.TL.09 - Final,0.75,2,1,0,0,0,0,0
College-MG.C.P01.S02_TL09 - Final,2.26,3,2,0,3,0,1,0
College-RH.C.P01.S01.TL.09 - Final,1.50,3,2,0,1,0,0,0
College-RH.C.P02.S01.TL.09 - Final,1.61,3,2,0,2,0,0,0

In [17]:
df_c_c_begin_sum.mean()

location     1.538889
ND-1         2.666667
AR-1         2.000000
SR           0.000000
ND-2/3       1.222222
CE-2/3       0.222222
CE-1         0.111111
AR-2/3       0.111111
dtype: float64

In [18]:
df_c_c_begin_sum.std()

location     0.824855
ND-1         1.118034
AR-1         1.224745
SR           0.000000
ND-2/3       1.092906
CE-2/3       0.440959
CE-1         0.333333
AR-2/3       0.333333
dtype: float64

In [30]:
#df_c_c_middle_sum

In [31]:
#df_c_c_middle_sum.mean()

In [32]:
#df_c_c_middle_sum.std()

In [19]:
df_c_c_end_sum

,location,ND-1,AR-1,SR,ND-2/3,CE-2/3,CE-1,AR-2/3
filename,,,,,,,,
College-BH.C.P01.S02.TL.09-FINAL,1.75,0,1,1,0,0,0,0
College-BH.C.P02.S02.TL.09-FINAL,5.50,1,4,1,0,0,1,0
College-BH.C.P03.S02.TL09 - FINAL,3.26,1,1,1,0,1,0,0
College-JV.C.P01.S02.TL.09 - FINAL,9.88,6,5,1,0,0,0,1
College-JV.C.P02.S03 - Final,2.40,1,1,1,0,0,0,0
College-JV.C.P03.S03.TL.09 - Final,1.75,0,1,1,0,0,0,0
College-MG.C.P01.S02_TL09 - Final,6.26,2,3,1,1,1,0,0
College-RH.C.P01.S01.TL.09 - Final,4.00,1,1,1,0,1,0,1
College-RH.C.P02.S01.TL.09 - Final,5.39,1,3,1,0,2,0,0

In [20]:
df_c_c_end_sum.mean()

location     4.465556
ND-1         1.444444
AR-1         2.222222
SR           1.000000
ND-2/3       0.111111
CE-2/3       0.555556
CE-1         0.111111
AR-2/3       0.222222
dtype: float64

In [22]:
df_c_c_end_sum.std()

location     2.625500
ND-1         1.810463
AR-1         1.563472
SR           0.000000
ND-2/3       0.333333
CE-2/3       0.726483
CE-1         0.333333
AR-2/3       0.440959
dtype: float64

### #################################################

### CHANGELESS - MIDDLE

In [23]:
df_c_m.head()

                                filename segment  location  split
0  Middle-JV.P01.S02.TL.09.NOWEB - FINAL    ND-1       0.00      b
1  Middle-JV.P01.S02.TL.09.NOWEB - FINAL    ND-1       0.09      b
2  Middle-JV.P01.S02.TL.09.NOWEB - FINAL    AR-1       0.18      b
3  Middle-JV.P01.S02.TL.09.NOWEB - FINAL    ND-1       0.27      b
4  Middle-JV.P01.S02.TL.09.NOWEB - FINAL    AR-1       0.36      b

In [24]:
df_c_m.dropna(inplace=True)

In [25]:
categories_moves_c_m = df_c_m['segment'].unique()

In [26]:
df_c_m_moves = pd.get_dummies(df_c_m.segment).reindex(columns=categories_moves_c_m, fill_value=0)

In [27]:
df_c_m_summary_moves = pd.concat([df_c_m, df_c_m_moves], axis=1)

In [28]:
df_c_m_begin = pd.DataFrame(df_c_m_summary_moves[df_c_m_summary_moves['split '].str.contains("b")])
df_c_m_end = pd.DataFrame(df_c_m_summary_moves[df_c_m_summary_moves['split '].str.contains("e")])
#df_c_m_middle = pd.DataFrame(df_c_m_summary_moves[df_c_m_summary_moves['location '].str.contains("m")])

In [29]:
byLocation_c_m_begin = df_c_m_begin.groupby('filename')
#byLocation_c_m_middle = df_c_m_middle.groupby('name')
byLocation_c_m_end = df_c_m_end.groupby('filename')

In [30]:
df_c_m_begin_sum = pd.DataFrame(byLocation_c_m_begin.sum())
#df_c_m_middle_sum = pd.DataFrame(byLocation_c_m_middle.sum())
df_c_m_end_sum = pd.DataFrame(byLocation_c_m_end.sum())

In [31]:
df_c_m_begin_sum

,location,ND-1,AR-1,SR,ND-2/3,CE-1,AR-2/3,CE-2/3
filename,,,,,,,,
Middle-JV.P01.S02.TL.09.NOWEB - FINAL,1.35,4,2,0,0,0,0,0
Middle-JV.P02-FINAL,2.63,5,5,0,1,0,0,0
Middle-JV.P03.S02 - FINAL,1.61,4,2,0,1,0,0,0
Middle-JV.P04.S03-FINAL,0.50,1,1,0,0,0,0,0
Middle-MG.P02-FINAL,2.75,3,3,0,3,1,1,0
Middle-MG.P03.S02-FINAL,1.10,3,2,0,0,0,0,0
Middle-RH.P01.S03 - FINAL,2.12,4,3,0,1,0,1,0
Middle-RH.P02.S02.NOWEB-NOCONF.TL.09 - Final,1.75,4,3,0,0,0,0,0

In [32]:
df_c_m_begin_sum.mean()

location     1.72625
ND-1         3.50000
AR-1         2.62500
SR           0.00000
ND-2/3       0.75000
CE-1         0.12500
AR-2/3       0.25000
CE-2/3       0.00000
dtype: float64

In [33]:
df_c_m_begin_sum.std()

location     0.762645
ND-1         1.195229
AR-1         1.187735
SR           0.000000
ND-2/3       1.035098
CE-1         0.353553
AR-2/3       0.462910
CE-2/3       0.000000
dtype: float64

In [34]:
#df_c_m_middle_sum

In [35]:
#df_c_m_middle_sum.mean()

In [36]:
#df_c_m_middle_sum.std()

In [37]:
df_c_m_end_sum

,location,ND-1,AR-1,SR,ND-2/3,CE-1,AR-2/3,CE-2/3
filename,,,,,,,,
Middle-JV.P01.S02.TL.09.NOWEB - FINAL,4.65,2,3,1,0,0,0,0
Middle-JV.P02-FINAL,8.37,3,2,1,1,1,3,0
Middle-JV.P03.S02 - FINAL,5.39,2,3,1,0,1,0,0
Middle-JV.P04.S03-FINAL,1.00,0,0,1,0,0,0,0
Middle-MG.P02-FINAL,7.75,2,1,1,2,0,2,2
Middle-MG.P03.S02-FINAL,3.90,1,1,1,0,1,1,0
Middle-RH.P01.S03 - FINAL,6.88,3,4,1,0,0,0,1
Middle-RH.P02.S02.NOWEB-NOCONF.TL.09 - Final,4.75,2,2,1,0,0,1,0

In [38]:
df_c_m_end_sum.mean()

location     5.33625
ND-1         1.87500
AR-1         2.00000
SR           1.00000
ND-2/3       0.37500
CE-1         0.37500
AR-2/3       0.87500
CE-2/3       0.37500
dtype: float64

In [41]:
df_c_m_end_sum.std()

location     2.363302
ND-1         0.991031
AR-1         1.309307
SR           0.000000
ND-2/3       0.744024
CE-1         0.517549
AR-2/3       1.125992
CE-2/3       0.744024
dtype: float64

### ############################################

### FLOAT - MIDDLE

In [43]:
df_f_m.head()

                           filename segment  location  split
0  BH.P01.S03.SI.01 - Float - Final    ND-1        0.0      b
1  BH.P01.S03.SI.01 - Float - Final  ND-2/3        0.1      b
2  BH.P01.S03.SI.01 - Float - Final    AR-1        0.2      b
3  BH.P01.S03.SI.01 - Float - Final  ND-2/3        0.3      b
4  BH.P01.S03.SI.01 - Float - Final  CE-2/3        0.4      b

In [44]:
df_f_m.dropna(inplace=True)

In [45]:
categories_moves_f_m = df_f_m['segment'].unique()

In [46]:
df_f_m_moves = pd.get_dummies(df_f_m.segment).reindex(columns=categories_moves_f_m, fill_value=0)

In [47]:
df_f_m_summary_moves = pd.concat([df_f_m, df_f_m_moves], axis=1)

In [48]:
df_f_m_begin = pd.DataFrame(df_f_m_summary_moves[df_f_m_summary_moves['split '].str.contains("b")])
df_f_m_end = pd.DataFrame(df_f_m_summary_moves[df_f_m_summary_moves['split '].str.contains("e")])
#df_f_m_middle = pd.DataFrame(df_f_m_summary_moves[df_f_m_summary_moves['location '].str.contains("m")])

In [49]:
byLocation_f_m_begin = df_f_m_begin.groupby('filename')
#byLocation_f_m_middle = df_f_m_middle.groupby('name')
byLocation_f_m_end = df_f_m_end.groupby('filename')

In [50]:
df_f_m_begin_sum = pd.DataFrame(byLocation_f_m_begin.sum())
#df_f_m_middle_sum = pd.DataFrame(byLocation_f_m_middle.sum())
df_f_m_end_sum = pd.DataFrame(byLocation_f_m_end.sum())

In [51]:
df_f_m_begin_sum

,location,ND-1,ND-2/3,AR-1,CE-2/3,SR,CE-1,AR-2/3
filename,,,,,,,,
BH.P01.S03.SI.01 - Float - Final,1.50,1,2,2,1,0,0,0
BH.P02.S02.SI.01 - Float - Final,0.86,1,1,0,0,0,2,0
JV.P01.S02.SI.01.Float - Final,0.33,1,0,0,1,0,0,0
JV.P02.S02.SI.01.Float - Final,0.75,1,0,1,1,0,0,0
JV.P03.S03.SI.01.Float - Final,0.86,2,0,1,1,0,0,0
JV.P04.S02.SI.01.Float - Final,0.86,2,0,0,1,0,0,1
MG.P01.S03 - Float - Final,2.26,4,0,5,0,0,0,0
MG.P02.S03 - Float - Final,1.35,1,3,2,0,0,0,0
MG.P03.S01 - Float - Final,0.60,1,0,1,1,0,0,0
"RH.P02.S03 - Float, NOWEB-NOCONF - Final",1.00,2,0,2,0,0,0,0

In [52]:
df_f_m_begin_sum.mean()

location     1.037
ND-1         1.600
ND-2/3       0.600
AR-1         1.400
CE-2/3       0.600
SR           0.000
CE-1         0.200
AR-2/3       0.100
dtype: float64

In [53]:
df_f_m_begin_sum.std()

location     0.545345
ND-1         0.966092
ND-2/3       1.074968
AR-1         1.505545
CE-2/3       0.516398
SR           0.000000
CE-1         0.632456
AR-2/3       0.316228
dtype: float64

In [54]:
#df_f_m_middle_sum

In [55]:
#df_f_m_middle_sum.mean()

In [56]:
#df_f_m_middle_sum.std()

In [57]:
df_f_m_end_sum

,location,ND-1,ND-2/3,AR-1,CE-2/3,SR,CE-1,AR-2/3
filename,,,,,,,,
BH.P01.S03.SI.01 - Float - Final,4.00,1,1,2,0,1,0,0
BH.P02.S02.SI.01 - Float - Final,3.14,0,0,1,1,1,0,1
JV.P01.S02.SI.01.Float - Final,1.67,0,0,0,0,1,0,1
JV.P02.S02.SI.01.Float - Final,1.75,0,0,1,0,1,0,0
JV.P03.S03.SI.01.Float - Final,3.14,1,0,2,0,1,0,0
JV.P04.S02.SI.01.Float - Final,3.14,1,0,2,0,1,0,0
MG.P01.S03 - Float - Final,6.26,3,0,3,1,1,0,0
MG.P02.S03 - Float - Final,4.65,1,0,0,1,1,1,2
MG.P03.S01 - Float - Final,2.40,1,0,1,0,1,0,0
"RH.P02.S03 - Float, NOWEB-NOCONF - Final",2.50,1,0,1,0,1,0,0

In [58]:
df_f_m_end_sum.mean()

location     3.265
ND-1         0.900
ND-2/3       0.100
AR-1         1.300
CE-2/3       0.300
SR           1.000
CE-1         0.100
AR-2/3       0.400
dtype: float64

In [59]:
df_f_m_end_sum.std()

location     1.400319
ND-1         0.875595
ND-2/3       0.316228
AR-1         0.948683
CE-2/3       0.483046
SR           0.000000
CE-1         0.316228
AR-2/3       0.699206
dtype: float64

### FLOAT - COLLEGE

In [60]:
df_f_c.head()

               filename segment  location  split
0  BH.C.P01.S02 - Final  ND-2/3       0.00      b
1  BH.C.P01.S02 - Final  CE-2/3       0.07      b
2  BH.C.P01.S02 - Final    AR-1       0.13      b
3  BH.C.P01.S02 - Final    ND-1       0.20      b
4  BH.C.P01.S02 - Final  ND-2/3       0.27      b

In [61]:
df_f_c.dropna(inplace=True)

In [62]:
categories_moves_f_c = df_f_c['segment'].unique()

In [63]:
df_f_c_moves = pd.get_dummies(df_f_c.segment).reindex(columns=categories_moves_f_c, fill_value=0)

In [64]:
df_f_c_summary_moves = pd.concat([df_f_c, df_f_c_moves], axis=1)

In [65]:
df_f_c_begin = pd.DataFrame(df_f_c_summary_moves[df_f_c_summary_moves['split '].str.contains("b")])
df_f_c_end = pd.DataFrame(df_f_c_summary_moves[df_f_c_summary_moves['split '].str.contains("e")])
#df_f_c_middle = pd.DataFrame(df_f_c_summary_moves[df_f_c_summary_moves['location'].str.contains("m")])

In [66]:
byLocation_f_c_begin = df_f_c_begin.groupby('filename')
#byLocation_f_c_middle = df_f_c_middle.groupby('name')
byLocation_f_c_end = df_f_c_end.groupby('filename')

In [67]:
df_f_c_begin_sum = pd.DataFrame(byLocation_f_c_begin.sum())
#df_f_c_middle_sum = pd.DataFrame(byLocation_f_c_middle.sum())
df_f_c_end_sum = pd.DataFrame(byLocation_f_c_end.sum())

In [68]:
df_f_c_begin_sum

,location,ND-2/3,CE-2/3,AR-1,ND-1,AR-2/3,SR,CE-1
filename,,,,,,,,
BH.C.P01.S02 - Final,1.87,2,2,1,2,1,0,0
BH.C.P02.S02 - Final,0.33,1,1,0,0,0,0,0
BH.C.P03.S03 - Final,1.10,0,1,1,2,1,0,0
JV.C.P01.S03 - Final,0.86,0,1,1,2,0,0,0
JV.C.P02.S02 - Final,1.35,1,1,1,3,0,0,0
JV.C.P03.S02 - Final,1.10,0,0,2,3,0,0,0
MG.C.P01.S02 - Final,1.87,1,1,2,3,1,0,0
MG.C.P02.S01 - Final,0.33,0,0,0,1,1,0,0
RH.C.P01.S02 - Final,0.33,0,1,0,1,0,0,0
RH.C.P02.SI.01 - Final,0.33,0,0,0,1,0,0,1
RH.C.P03.S03.SI.01 - Final,2.26,0,1,2,4,2,0,0

In [69]:
df_f_c_begin_sum.mean()

location     1.066364
ND-2/3       0.454545
CE-2/3       0.818182
AR-1         0.909091
ND-1         2.000000
AR-2/3       0.545455
SR           0.000000
CE-1         0.090909
dtype: float64

In [70]:
df_f_c_begin_sum.std()

location     0.707860
ND-2/3       0.687552
CE-2/3       0.603023
AR-1         0.831209
ND-1         1.183216
AR-2/3       0.687552
SR           0.000000
CE-1         0.301511
dtype: float64

In [71]:
#df_f_c_middle_sum

In [72]:
#df_f_c_middle_sum.mean()

In [73]:
#df_f_c_middle_sum.std()

In [74]:
df_f_c_end_sum

,location,ND-2/3,CE-2/3,AR-1,ND-1,AR-2/3,SR,CE-1
filename,,,,,,,,
BH.C.P01.S02 - Final,6.13,0,1,4,2,0,1,0
BH.C.P02.S02 - Final,1.67,0,0,1,0,0,1,0
BH.C.P03.S03 - Final,3.90,0,0,2,2,0,1,0
JV.C.P01.S03 - Final,3.14,0,0,2,1,0,1,0
JV.C.P02.S02 - Final,4.65,0,1,2,1,0,1,1
JV.C.P03.S02 - Final,3.90,0,0,2,2,0,1,0
MG.C.P01.S02 - Final,6.13,1,1,3,2,0,1,0
MG.C.P02.S01 - Final,1.67,0,1,0,0,0,1,0
RH.C.P01.S02 - Final,1.67,0,0,1,0,0,1,0
RH.C.P02.SI.01 - Final,1.67,0,0,1,0,0,1,0
RH.C.P03.S03.SI.01 - Final,6.26,1,0,4,2,0,1,0

In [75]:
df_f_c_end_sum.mean()

location     3.708182
ND-2/3       0.181818
CE-2/3       0.363636
AR-1         2.000000
ND-1         1.090909
AR-2/3       0.000000
SR           1.000000
CE-1         0.090909
dtype: float64

In [76]:
df_f_c_end_sum.std()

location     1.901115
ND-2/3       0.404520
CE-2/3       0.504525
AR-1         1.264911
ND-1         0.943880
AR-2/3       0.000000
SR           0.000000
CE-1         0.301511
dtype: float64